name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  matrix-job:
    name: "Setup Matrix"
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install
      - id: set-matrix
        run: echo "matrix=$(node ./bin.js)" >> $GITHUB_OUTPUT

  run-tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: "matrix-job"
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.matrix-job.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'    
      - run: pnpm install
      - run: pnpm ${{matrix.command}}